.header {
  background-color: rgba(78,160,255,255);

background-repeat: repeat-x;
background-image: url(.//img/pattern.png);
background-size: 15%;
}

#autore {
    color: rgba(32,169,229,255);
}

.logo {
width: 12%;
text-align: left;
margin-top: 20px;
}

#credits {
    color: grey;
}

.credits2 {
   font-size: smaller;
}

#paragrafo {
margin-bottom: 3%;
}

table {
   border-collapse: collapse;
   width: 100%;
   margin-top: 3%;
   
}
thead {
    background-color: rgba(32,169,229,255); 
    color: white;
    text-align: justify;
    
}

.linea1 {
background-color: #b1e5f2;

}
 
.immagini {
    background-image: url(../html-css-booleaner/img/graph.jpg);
    text-align: left;
    width: 250px;
    height: 200px;
    margin-bottom: 10px;
    color: white;
    padding-top: 5px;
}
.immagini2 {
    background-image: url(../html-css-booleaner/img/monitor.jpg);
    text-align: left;
    width: 250px;
    height: 200px;
    color: white;
    padding-top: 5px;
}

.testo {
    margin-left: 10px;
    margin-top: 20px;
}
